{erl_opts, [debug_info]}.

%% dynamically adjusted,
%% see .script file
{deps, []}.

%% grisp plugin automatically inserted,
%% see .script file
{plugins, []}.

%% automatically removed if GRiSP is used,
%% see .script file
{pre_hooks,
  [{"(linux)", compile, "make -C c_src"}]}.
{post_hooks,
  [{"(linux)", clean, "make -C c_src clean"}]}.

{grisp, [
    {otp, [
        {version, "23"}
    ]},
    {platform, grisp2},
    {build, [
        {toolchain, [
            {directory, "/Users/sascha/git/grisp2-rtems-toolchain/rtems/5"}
        ]}
    ]},
    {deploy, [
        %{pre_script, "rm -rf /tmp/GRISP/*"},
        %{destination, "/tmp/GRISP"}
        {pre_script, "rm -rf /Volumes/GRISP/*"},
        {destination, "/Volumes/GRISP"},
        {post_script, "diskutil unmount /Volumes/GRISP"}
    ]}
]}.

{relx, [
    {release, {grisp_cryptoauth, "0.0.1"}, [
        grisp_cryptoauth
    ]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {extended_start_script, true}
]}.
