{erl_opts, [debug_info]}.

{deps, []}.

{plugins, []}.

{pre_hooks,
  [{"(linux)", compile, "make -C c_src"}]}.
{post_hooks,
  [{"(linux)", clean, "make -C c_src clean"}]}.

{relx, [
    {release, {grisp_cryptoauth, "0.0.1"}, [
        grisp_cryptoauth
    ]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {extended_start_script, true}
]}.
