{erl_opts, [debug_info]}.

{deps, [
    {grisp, "~> 2.0"}
]}.

{plugins, [rebar3_grisp]}.

{grisp, [
    {otp, [
        {version, "23"}
    ]},
    {platform, grisp2},
    {build, [
        {toolchain, [
            {directory, "/Users/sascha/git/grisp2-rtems-toolchain/rtems/5"}
        ]}
    ]},
    {deploy, [
        %{pre_script, "rm -rf /tmp/GRISP/*"},
        %{destination, "/tmp/GRISP"}
        {pre_script, "rm -rf /Volumes/GRISP/*"},
        {destination, "/Volumes/GRISP"},
        {post_script, "diskutil unmount /Volumes/GRISP"}
    ]}
]}.

{relx, [
    {release, {grisp_cryptoauth, "0.0.1"}, [
        grisp_cryptoauth
    ]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {extended_start_script, true}
]}.
