[{grisp_cryptoauth, [
  {device,
    #{type => 'ATECC608B',
      i2c_bus => 0,
      i2c_address => 16#6C}
  },
  %% template meta data to use for certificate handling,
  %% a '{template ID, chain ID}' tuple is stored in the
  %% secure element when the certificate is written and
  %% then used to identify the template again when the
  %% certificate is read from the secure element
  {templates, [
    {{0, 0}, stritzinger_root},
    {{1, 0}, grisp2_intermediate},
    {{2, 0}, grisp2_device}
  ]}
]}].
